/****mobile css****/

*{
  box-sizing: border-box;
}

@@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700') format('woff'));
}

 #Home {
  background-color: #00A5BF;
}

#Calendar {
  background-color: #00B7D3;
}

#Join {
  background-color: #00D5E7;
}
